apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: frontend
  namespace: argocd

spec:
  project: default
  source:
    repoURL: https://gitlab.com/jerrybai/student-springboot-react-frontend.git
    targetRevision: HEAD
    path: dev
  
  destination:
    server: https://kubernetes.default.svc
    namespace: student

  syncPolicy:
    syncOptions:
      - CreateNamespace=false
    automated:
      selfHeal: true
      prune: true